/* Layout for the dashboard */
.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2e2e2e;
    color: rgb(218, 218, 218);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  .navbarLeft {
    display: flex;
    align-items: center;
  }
  
  .navbarLogo {
    height: 40px;
    cursor: pointer;
  }
  
  .navbarTitle {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 1.5rem;
  }
  
  .profileIcon {
    height: 30px;
    cursor: pointer;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 1rem;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .active a,
  .sidebar ul li a:hover {
    background-color: #439eff;
    color: white;
  }
  
  .dashboardContent {
    flex: 1;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .logoutButton {
    background-color: #f8f9fa; /* Same as the sidebar background */
    color: #333; /* Same as the sidebar text */
    padding: 0.5rem;
    width: 100%; /* Full width */
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s ease; /* Smooth transition */
    cursor: pointer;
  }
  
  .logoutButton:hover {
    background-color: #ff3333; /* Same hover effect */
    color: white; /* Text color on hover */
  }
  
  .activeButton {
    background-color: #007bff; /* Active button background */
    color: white; /* Text color for active */
  }

  .job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Individual job card */
  .job-card {
    background-color: #f4f4f4;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .job-card:hover {
    transform: translateY(-5px);
  }
  
  /* Job title */
  .job-card h3 {
    margin: 0;
    color: #333;
    font-size: 1.5rem;
  }
  
  /* Company name */
  .company-name {
    font-size: 10rem;
    color: #666;
    margin: 10px 0;
  }
  
  /* Job description */
  .job-card p {
    font-size: 1rem;
    color: #555;
  }
  
  /* View Details button */
  .apply-button {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: #4e00b6;
  }

  .apply-button:disabled {
    background-color: grey;
    cursor: not-allowed;  /* Prevents the pointer cursor */
  }

  .details-button {
    background-color: #232323;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .details-button:hover {
    background-color: #47404f;
  }
  
  /* Loading and error messages */
  .loading, .error {
    font-size: 1.5rem;
    color: #555;
  }
  
  .ApplicationsContent{
    flex: 1;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #232323;
  }

  .EditContent{
    flex: 1;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .profileCard {
    max-width: 650px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #ece5ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .cardTitle {
    text-decoration: solid;
    color: #333;
  }
  
  .profileAvatar {
    margin: 0 auto;
  }
  
  .editButton {
    margin-top: 20px;
  }

  .carddiv{
    margin-top: 100px;
    justify-content: center; /* Horizontally center */

    display: flex;
    flex:1 ;
  }