/* src/pages/Homepage.module.css */
.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  }
  .homecontainer{
    background: linear-gradient(45deg, #18266e, #000474, #261e3c, #4f1d8b);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite; 
    background-color: #1a1a1a;
     /* Center vertically */
    height: 100vh;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarLogo {
  height: 40px;
  cursor: pointer;
}

.navbarTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 1.5rem;
}


.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}
  .register-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .register-button:hover {
    background-color: #4e00b6;
  }

  .homeTextCard {
    z-index: 2;
    color: #ebebeb;
    font-size: 1em;
    width: 440px;
    height:fit-content;
    transition: transform 1s ease;
    transform: translateY(-5px);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1); /* Transparent form background */
}
.h2TextCard {
  z-index: 2;
  color: #ebebeb;
  font-size: 1em;
  width: 440px;
  height: 200px;
  margin-left: 120%;
  transform: translateY(-5px);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1); /* Transparent form background */
}
.textdiv{
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-top: 5%;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
}

/* styles.css */

.text-section {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 0.6s ease forwards;
}

@keyframes slideUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
  

.description {
  font-size: 1rem;
  margin-bottom: 25px;
  line-height: 1.5;
}
